.cardContainer {
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 18px;
  margin-top: 28px;
  margin-left: 550px;
  width: 268px;
  height: 290px;
  box-shadow: 18px -15px 18px 0.5px rgb(0, 0, 0);
  border: 3px solid #2da000;
}

.genero {
  position: absolute;
  margin: -0.2%;
  margin-left: 1.8%;
  font-family: cursive;
  font-size: 18px;
  -webkit-text-stroke: 1px rgb(70, 1, 1);
  color: red;
}

.especie {
  position: absolute;
  margin: -0.2%;
  margin-left: 11%;
  font-family: cursive;
  font-size: 18px;
  -webkit-text-stroke: 1px rgb(70, 1, 1);
  color: red;
}

.nombre {
  position: relative;
  font-style: italic;
  margin: auto;
  font-family: cursive;
  font-size: 26px;
  -webkit-text-stroke: 1.5px rgba(16, 94, 0, 0.87);
  color: rgb(49, 128, 26);
  width: auto;
}

.fondo {
  max-width: 210px;
  border-radius: 8px;
  margin-top: 28px;
}

.fondo:hover {
  border: 1px solid #c6c9c67a;
  box-shadow: 0 7px 30px 8px #39d609b9;
  transform: scale(1.015);
  filter: brightness(1.2);
}

.order{
position: absolute;
margin-left: -450px;
margin-top:10px;
background-color: rgb(29, 110, 5);
border-radius: 4px;
border:rgb(19, 68, 4);
color: rgb(0, 0, 0);

}

.definition{
background-color: rgb(29, 110, 5);
position: absolute;
margin-left: -320px;
margin-top:10px;
border-radius: 4px;
border:rgb(19, 68, 4);
color: rgb(0, 0, 0);
}